.fixed-image-text {
  width: 28vw;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .fixed-image-text {
    width: 80vw;
    font-size: 2vw;
  }
}

@media (max-width: 700px) {
  .fixed-image-text {
    width: 80vw;
    font-size: 3vw;
  }
}
