.who-are-we {
  text-align: center;
  padding: 0 20vw;
  margin-bottom: 30vh;
  font-size: 1.5vw;
}

@media (max-width: 700px) {
  .who-are-we {
    padding: 0 12vw;
    font-size: 3vw;
    margin-bottom: 20vh;
  }
}
