.who-are-we {
  text-align: center;
  padding: 0 20vw;
  margin-bottom: 20vh;
  font-size: 1.5vw;
}

.who-are-we img {
  width: 80%;
  height: auto;
  margin: 6em auto;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .who-are-we {
    padding: 0 12vw;
    font-size: 2vw;
    margin-bottom: 10vh;
  }
}

@media (max-width: 700px) {
  .who-are-we {
    padding: 0 12vw;
    font-size: 3vw;
    margin-bottom: 8vh;
  }
}
