.footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f170a9;
  box-shadow: 1px 0 0.8rem gray;
  padding: 1em;
  margin-top: 2em;
  font-size: 0.8vw;
}

.github-link {
  color: wheat;
  font-weight: bold;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .footer {
    font-size: 2vw;
  }
}

@media (max-width: 700px) {
  .footer {
    font-size: 2vw;
  }
}
