.socials-container {
  position: fixed;
  bottom: 6em;
  right: 2em;
}

.socials-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.socials-link {
  color: white;
  background-color: black;
  padding: 0.5em 0.8em 0.1em 0.8em;
  border-radius: 2em;
  box-shadow: 1px 0 0.8rem gray;
}

.socials-link img {
  width: 16px;
  height: 19px;
}

.socials-link:hover {
  background-color: #f170a9;
  transition: all 0.2s ease-in-out;
}
