.menu-button {
  display: none;
}

.menu-open {
  top: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #f170a9;
  box-shadow: 1px 0 0.8rem gray;
  text-transform: uppercase;
  font-size: 0.8vw;
  padding: 0.8em 0;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin: 0 1.5em;
}

.second-list {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.navbar-item:hover {
  transform: translateY(-0.2em);
}

.home-link img {
  width: 2.5em;
  height: auto;
  margin: 0 0.3em;
}

.home-link img:nth-of-type(1) {
  padding-top: 0.2em;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-link img:nth-of-type(2) {
  width: 3em;
  padding-bottom: 0.4em;
}

.back-to-top {
  display: none;
}

@media (max-width: 700px) {
  .header {
    height: 12em;
    display: flex;
    align-items: center;
  }

  .menu-button {
    display: block;
    border: none;
    width: 1em;
    padding: 0 1em;
    background-color: #f170a9;
  }

  .menu-bars {
    background-color: #f170a9;
  }

  .nav {
    position: fixed;
    top: -100%;
    height: 100vh;
    width: 100%;
    padding-top: 5em;
    z-index: 100;
    opacity: 0.9;
    transition: top 0.3s ease;
    background-color: white;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
  }

  .first-list {
    font-size: 8vw;
    padding: 3em 0;
  }

  .second-list {
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    gap: 3vh;
  }
}
