/* #site {
  max-width: 1800px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.menu-button {
  display: none;
}

.menu-open {
  top: 0;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #f170a9;
  box-shadow: 1px 0 0.8rem gray;
  /* background-color: transparent; */
  /* transition: background-color 0.3s ease; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  padding: 0.8em 0;
}

/* 
.header {
  padding: 2em 0;
} */

.navbar-list {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  font-weight: bold;
  /* padding: 0.4em 2em; */
}

.first-list {
  margin: 0 5em 0 1em;
}

.second-list {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.navbar-item:hover {
  transform: translateY(-0.2em);
}

.home-link img {
  width: 2.5em;
  height: auto;
  margin: 0 0.3em;
}

.home-link img:nth-of-type(1) {
  padding-top: 0.2em;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.home-link img:nth-of-type(2) {
  width: 2.8em;
  padding-bottom: 0.4em;
}

.divider-container {
  width: 100%;
  height: 3em;
}

.divider {
  height: 0.5px;
  margin: 3em 0;
  background: #000;
  background: -webkit-linear-gradient(
    left,
    rgb(255, 255, 255) 0%,
    rgb(50, 50, 50) 50%,
    rgb(255, 255, 255) 100%
  );
  z-index: 100;
}

.back-to-top {
  display: none;
}
