.menu-button,
.mobile-logo,
.mobile-logo-2 {
  display: none;
}

.menu-open {
  top: 0 !important;
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 4em;
  z-index: 100;
  background-color: #f170a9;
  box-shadow: 1px 0 0.8rem gray;
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-container {
  width: 100vw;
}

.navbar-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0 6vw;
}

.navbar-item,
.navbar-item-home {
  width: 12em;
  text-align: center;
}

.navbar-item-home {
  display: flex;
  justify-content: center;
}

.navbar-item:hover {
  transform: translateY(-0.2em);
}

.home-link {
  position: fixed;
  top: 1em;
}

.home-link img {
  width: 6em;
  height: auto;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  display: none;
}

@media (max-width: 700px) {
  .header {
    height: 3em;
  }

  .mobile-header {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .menu-button {
    all: unset;
    display: block;
    border: none;
    width: 1em;
    margin-right: 2em;
    z-index: 1000;
  }

  .menu-bars {
    width: 1.5em;
    height: auto;
    padding-top: 4px;
  }

  .mobile-logo {
    display: block;
    width: 4em;
    height: auto;
    margin-left: 1.5em;
  }

  .home-link {
    top: 0.5em;
  }

  .home-link img {
    width: 3.5em;
  }

  .nav {
    position: fixed;
    top: -200%;
    height: 100vh;
    width: 100%;
    padding-top: 40vh;
    font-size: 1.5em;
    z-index: 100;
    opacity: 0.9;
    transition: top 1s ease-out;
    background-color: white;
  }

  .navbar-list {
    flex-direction: column;
    gap: 1em;
  }

  .navbar-link {
    z-index: 1000;
  }
}
