.menu-container {
  width: 100%;
  padding: 20vh 1em 0 1em;
  font-size: 1vw;
  text-align: center;
}

.menu-container h1 {
  animation: sliderReveal 1s ease forwards;
}

.title-paragraph {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.menu-container img {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.menu-titles {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
  width: 14vw;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 3em 0;
}

.menu-section button {
  all: unset;
  cursor: pointer;
}

.menu-section img {
  width: 5vw;
  height: auto;
  border: 1px solid black;
  border-radius: 0.3em;
}

.menu-section:hover {
  transform: translateY(-0.2em);
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-card {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.semi-category {
  font-weight: bold;
}

.name-price {
  display: flex;
  justify-content: space-between;
}

.description {
  align-self: flex-start;
  text-align: left;
  padding-right: 40%;
  font-size: 0.7vw;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .menu-container {
    font-size: 2vw;
  }

  .menu-section img {
    width: 10vw;
  }

  .menu-card {
    width: 70%;
  }

  .description {
    font-size: 1.4vw;
  }
}

@media (max-width: 700px) {
  .menu-container {
    padding-top: 12em;
    font-size: 3vw;
  }

  .menu {
    flex-wrap: wrap;
  }

  .menu-titles {
    width: 30vw;
    margin-bottom: 1em;
  }

  .menu-section img {
    width: 26vw;
  }

  .menu-card {
    width: 80%;
  }

  .description {
    font-size: 2.3vw;
  }
}
