.menu-container {
  width: 100%;
  min-height: 60em;
  padding: 14em 0 0 0;
  text-align: center;
}

.menu-container h1 {
  animation: sliderReveal 1s ease forwards;
}

.title-paragraph {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.menu-container img {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 1.2s;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 3em 0;
}

.menu-section button {
  all: unset;
  cursor: pointer;
}

.menu-section img {
  width: 5em;
  height: auto;
  border: 1px solid black;
  border-radius: 0.3em;
}

.menu-section:hover {
  transform: translateY(-0.2em);
}

.modal {
  transform: scale(0);
  transform-origin: center;
  visibility: hidden;
  width: 100%;
  height: auto;
  position: fixed;
  top: 5em;
  text-align: center;
}

.show {
  transform: scale(1);
  visibility: visible;
  transition: transform 0.5s ease, visibility 0.5s ease;
}

.modal-image {
  width: auto;
  height: 80vh;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
