.party-container {
  width: 100%;
  min-height: 60em;
  padding: 14em 0 0 0;
  text-align: center;
}

.title-container {
  animation: sliderReveal 1s ease forwards;
}

/* .party-container img {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.spots-container p {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 1.8s;
} */

.spots-container {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 3em 0;
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.spots button {
  all: unset;
  cursor: pointer;
}

.spots img {
  width: 5em;
  height: auto;
}

.spots:hover {
  transform: translateY(-0.2em);
}

.text-container p {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

.text-container h1 {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 1.2s;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 4em;
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 1.2s;
}

.modal {
  transform: scale(0);
  transform-origin: center;
  visibility: hidden;
  width: 100%;
  height: auto;
  position: fixed;
  top: 5em;
  text-align: center;
}

.show {
  transform: scale(1);
  visibility: visible;
  transition: transform 1s ease, visibility 1s ease;
}

.modal-image {
  width: auto;
  height: 80vh;
  border-radius: 0.5em;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
