.language {
  position: fixed;
  bottom: -4em;
  right: 2.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 0.5em 0.5em 0 0;
  background-color: black;
  z-index: 90;
  transition: right 0.3s ease;
  cursor: pointer;
}

.open-close {
  all: unset;
}

.language-open {
  bottom: 0;
}

.language img {
  cursor: pointer;
}
