.about-us {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  padding: 20vh 20vw 0 20vw;
}

.about-us h1 {
  animation: sliderReveal 1s ease forwards;
}

.about-us p {
  opacity: 0;
  animation: sliderReveal 1s ease forwards;
  animation-delay: 0.6s;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .about-us {
    font-size: 3vw;
    padding: 10vh 12vw;
    text-align: justify;
  }

  .about-us h1 {
    text-align: center;
  }
}
