.fixed-image {
  position: relative;
  top: 1em;
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
}

.fixed-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../../public/4.png);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.6;
  z-index: -1;
}

.fixed-image-in {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .fixed-image {
    height: 50em;
  }

  .fixed-image-in {
    width: 10vw;
    flex-direction: column;
    gap: 2em;
  }
}

@media (max-width: 700px) {
  .fixed-image {
    height: 14em;
    margin-top: 2em;
  }

  .fixed-image::before {
    background-attachment: local;
  }

  .fixed-image-in {
    flex-direction: column;
    gap: 2em;
    margin-top: -10em;
  }
}
